<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        {{!-- {{msg}} data defined in htmlRoutes "/" get call --}}
        <h1>{{msg}}</h1>

        <h2>This is our Home Page!</h2>

        {{!-- Submit (POST) form for adding a new Text headline with a Description --}}
        <form class="clearfix mb-4" action="POST">

          <div class="form-group">
            <label for="example-text">Example Text</label>
            {{!-- INPUT for Text headline, id="example-text" --}}
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>

          <div class="form-group">
            <label for="example-description">Example Description</label>
            {{!-- INPUT for Description to go with Text headline, id="example-description" --}}
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>

        </form>

        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">

          {{!-- {{examples}} is (dbExamples) data from htmlRoutes "/" call --}}
          {{!-- #each is a Handlebars loop; each object in (dbExamples) gets an <li> --}}
          {{#each examples}}

          {{!-- data-id="{{this.id}}" is the .id property of a row item from (dbExamples) --}}
          {{!-- this is the data-id of the <li> container --}}
          <li data-id="{{this.id}}" class="list-group-item">

            {{!-- "example/{{this.id}}" link handled by htmlRoutes "example/id" --}}
            {{!-- {{this.text}} is the .text property (db col) of a row item from (dbExamples) --}}
            <a href="example/{{this.id}}">{{this.text}}</a>

            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>

          {{!-- end the #each - /each Handlebars loop item; loop another row from (dbExamples) --}}
          {{/each}}

        </ul>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{!-- link to the event handlers scripts for this page --}}
<script src="/js/index.js"></script>