{{!-- ==================================================== --}}
{{!-- BookReporter :: A research project note organizer and composer --}}
{{!-- MVC with MySQL, Node, Express, Handlebars and Sequelize. --}}
{{!-- ©2018 Nicholas Angelo Batten, Ryan Case, Melissa Derricott, Alex Silvester, Richard Trevillian --}}
{{!-- University of Richmond (Virginia) --}}
{{!-- Full Stack Developer Bootcamp (July 2018) --}}
{{!-- ==================================================== --}}
{{!-- workspace.handlebars --}}
{{!-- htmlRoutes.js renders a Handlebars view for the Project's Topics/Resources/Resource Editor page --}}
{{!-- when finished, also incorporate the code in wordprocessor.handlebars into this page --}}
{{!-- ==================================================== --}}

<div id="home">
  <div class="container">

    <div class="row">
      <div class="col-8 offset-2">

        {{!-- BASIC PROJECT INFO --}}
        <p>
          {{!-- write out the .description of {{example}} data --}}
          <strong>User ID:</strong> {{project.UserId}},
          {{!-- write out the .id of {{example}} data --}}
          <strong>Project ID</strong>: {{project.id}},
          {{!-- write out the .text of {{example}} data --}}
          <strong>Project Name</strong>: {{project.projectName}}
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col-8 offset-2">

        {{!-- ADD NEW TOPIC INPUT FIELD AND BUTTON --}}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="add-topic-button">Add Topic</button>
          </div>
          <input id="add-topic-name" type="text" class="form-control" placeholder="add a new Topic to this Project">
        </div>

        <br>
        <br>

        {{!-- DIV TO FILL WITH TOPICS AND RESOURCES --}}
        <div id="topics_display" class="list-group"></div>

      </div>
    </div>

  </div>
</div>

{{!-- JQUERY --}}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

{{!-- link to the event handlers scripts for this page --}}
<script src="/js/workSpace.js"></script>