{{!-- ==================================================== --}}
{{!-- BookReporter :: A research project note organizer and composer --}}
{{!-- MVC with MySQL, Node, Express, Handlebars and Sequelize. --}}
{{!-- ©2018 Nicholas Angelo Batten, Ryan Case, Melissa Derricott, Alex Silvester, Richard Trevillian --}}
{{!-- University of Richmond (Virginia) --}}
{{!-- Full Stack Developer Bootcamp (July 2018) --}}
{{!-- ==================================================== --}}
{{!-- workspace.handlebars --}}
{{!-- htmlRoutes.js renders a Handlebars view for the Project's Topics/Resources/Resource Editor page --}}
{{!-- when finished, also incorporate the code in wordprocessor.handlebars into this page --}}
{{!-- ==================================================== --}}

<div id="home">
  <div class="container">

    <div class="row">
      <div class="col-12">

        {{!-- BASIC PROJECT INFO --}}
        <p>
          <br>
          <strong>User ID:</strong> {{project.UserId}},
          <strong>Project ID</strong>: {{project.id}},
          <strong>Project Name</strong>: {{project.projectName}}
          <br>
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col-12">

        {{!-- ADD NEW TOPIC INPUT FIELD AND BUTTON --}}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="add-topic-button">Add Topic</button>
          </div>
          <input id="add-topic-name" type="text" class="form-control" placeholder="add a new Topic to this Project">
        </div>

        <br>
        <br>

        {{!-- DIV TO FILL WITH HANDLEBARS TOPICS AND RESOURCES --}}
        <div id="project_display" class="col-12 list-group pr-0">


            {{#each project.Topics}}

              {{!-- START EACH TOPIC CONTAINER --}}
              <div id='t-{{id}}' class='topicbox list-group-item list-group-item-action mb-4'>

                {{!-- START TOPIC NAME DISPLAY-EDIT-DELETE --}}
                <div class='input-group mb-3'>
                  <div class='input-group-prepend'>
                    <button class='btn btn-danger delete-topic' type='button' data-topic='{{id}}'>
                      x
                    </button>
                  </div>
                  <input type='text' class='tname form-control' placeholder='{{topicName}}' data-topic='{{id}}'>
                </div>
                {{!-- END TOPIC NAME DISPLAY-EDIT-DELETE --}}

                {{!-- START ADD RESOURCE TO TOPIC FIELD AND BUTTON --}}
                <div class='input-group mb-3'>
                  <div class='input-group-prepend'>
                    <button class='btn btn-success add-resource' type='button' data-topic='{{id}}'>
                      +
                    </button>
                  </div>
                  <input id='add-resource-name-{{id}}' type='text' class='form-control' placeholder='add a Resource to this Topic'>
                </div>
                {{!-- END ADD RESOURCE TO TOPIC FIELD AND BUTTON --}}

                {{!-- START EACH RESOURCE CONTAINER --}}
                <div id='resourcelist-t-{{id}}' class='list-group'>

                  {{#each Resources}}

                    {{!-- START RESOURCE NAME DISPLAY-EDIT-DELETE --}}
                    <div class='input-group mb-1'>
                      <div class='input-group-prepend'>
                        <button class='btn btn-primary delete-resource' type='button' data-resource='{{id}}'>
                          x
                        </button>
                      </div>
                      <input type='text' class='rname form-control' placeholder='{{resourceName}}' data-resource='{{id}}'>
                    </div>
                    {{!-- END RESOURCE NAME DISPLAY-EDIT-DELETE --}}

                    {{!-- START RESOURCE CONTENT AREA --}}
                    <textarea id='content-r-{{id}}' class='rescont form-control mb-3' rows='7' wrap='hard' placeholder='{{resourceContent}}' data-resource='{{id}}'></textarea>
                    {{!-- END RESOURCE CONTENT AREA --}}

                  {{/each}}

                </div>
                {{!-- END EACH RESOURCE CONTAINER --}}

              </div>
              {{!-- END EACH TOPIC CONTAINER --}}

            {{/each}}


        </div>

        <br>
        <br>

        {{!-- DIV TO FILL WITH JS TOPICS AND RESOURCES --}}
        {{!-- <div id="topics_display" class="list-group"></div> --}}

      </div>
    </div>

  </div>
</div>

{{!-- JQUERY --}}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

{{!-- link to the event handlers scripts for this page --}}
<script src="/js/workSpace.js"></script>